.status {
    color: #B0A9E6;
}

.line {
    border-collapse: collapse;
}

td,
th {
    border-bottom: 1px solid #E5E6E8;
    font-size: 14px;
}

.DivTable {
    margin: 36px 16px 0 16px;
    max-width: 1280px;
}

.punkt {
    margin-right: 22.19px;
    cursor: pointer
}

.cl0 {
    width: 114px;
}

.cl1 {
    width: 171px;
}

.cl2 {
    width: 138px;
}

.cl3 {
    width: 104px;
}